#main
{
	width: 90%;
	height: 100vh;
	margin: 0 auto;
	margin-top: 25px;
}

h1
{
	text-align: center;
}

.drapeau
{
	/*width: 20%;*/
	margin: 0 auto;
}

.drapeau img
{
	margin-left: auto;
  	margin-right: auto;
  	display: block;

}

.fa-pen
{
	color: green;
	margin-right: 5px;
}

.fa-trash
{
	color: red;
}

/*couleur hover*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #d5fdd5;
}

.navbar-brand img {
    height: 40px;
}

.pagination
{
    display: flex;
    justify-content: center;
}