#main
{
	width: 90%;
	height: 100vh;
	margin: 0 auto;
	margin-top: 25px;
}

#cards
{
	display: flex;
	justify-content: space-around;
}

.card
{
	box-shadow: 2px 5px 0px 0px rgba(169,169,169,0.5);
        margin-bottom: 20px;
}

.card-title, .card-text
{
	text-align: center;
}

.card-title
{
	font-size: 1.2em;
	font-weight: bold;
}

.navbar-brand img {
    height: 40px;
}