#main
{
	width: 90%;
	height: 100vh;
	margin: 0 auto;
	margin-top: 25px;
}

h1
{
	text-align: center;
}

.fa-pen
{
	color: green;
	margin-right: 5px;
}

.fa-trash
{
	color: red;
}

.drapeau img
{
 height: 100%;
 width: auto;
}

.drapeau
{
	height: 35px;
}

.navbar-brand img {
    height: 40px;
}

.pagination
{
    display: flex;
    justify-content: center;
}

#add
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}


